/.idea/sonarlint/issuestore/a/0/a0944ec03803f729dfb5f304fae8ad17bca19aa9
/2-Important_Packages/.idea/.gitignore
/2-Important_Packages/.idea/2-Important_Packages.iml
/.idea/sonarlint/securityhotspotstore/a/0/a0944ec03803f729dfb5f304fae8ad17bca19aa9
/.idea/sonarlint/issuestore/e/5/e5189a32b52ed46c9b216792afe287221a0d6960
/.idea/sonarlint/securityhotspotstore/e/5/e5189a32b52ed46c9b216792afe287221a0d6960
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/modules.xml
/2-Important_Packages/.idea/modules.xml
/.idea/PosGoExpert.iml
/.idea/vcs.xml
/2-Important_Packages/.idea/vcs.xml
/.idea/workspace.xml
